@{
    ViewBag.Title = "Bienvenido a tu destino";

    Layout = "~/Views/Shared/_Layout.cshtml";
}







@* Usamos dos div independientes para englobar todas las tarjetas y controlar el display *@

<div class="fondo-destino">
    <div class="d-flex justify-content-center">
        <h1 class="text-white display-1 mt-5">@ViewBag.Title</h1>

    </div>
    <div class="d-flex justify-content-md-evenly pt-5 ">
        <div class="card zoom" style="width: 18rem;">
            <img src="~/Content/imagenes/lugares/cabo-vilan.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Cabo Vilán</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="@Url.Action("CaboVilan","Destino")" class="btn btn-primary">Descúbrelo</a>
            </div>
        </div>

        <div class="card zoom" style="width: 18rem;">
            <img src="~/Content/imagenes/lugares/Monte-Louro.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Monte Louro</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="@Url.Action("MonteLouro","Destino")" class="btn btn-primary">Descúbrelo</a>
            </div>
        </div>


        <div class="card zoom" style="width: 18rem;">
            <img src="~/Content/imagenes/lugares/castro baroña 3.jpeg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Castro de Baroña</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="@Url.Action("CastroBaronha","Destino")" class="btn btn-primary">Descúbrelo</a>
            </div>
        </div>
        <div class="card zoom" style="width: 18rem;">
            <img src="~/Content/imagenes/lugares/loiba-banco.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Loiba</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="@Url.Action("Loiba","Destino")" class="btn btn-primary">Descúbrelo</a>
            </div>
        </div>

    </div>

</div>