@model CloseAndSlow.Models.ViewModels.HotelViewModel
    @* aqui quiero recibir el id del hotel y el nombre *@
@{
    ViewBag.Title = "Bienvenido al hotel ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.id_habitacion1 = 1;
    
}
<style>
    .imag-hotel {
        height: 25%;
        width: 25%;
        position: center;
    }

    .contenido {
        margin: 8%;
    }
    .div-hotel {
       color:white;
        height:7rem;
        text-align:center;
       
    }
</style>


<div class="grad div-hotel">
    <p class="pt-4 display-4 fw-bold">@ViewBag.Title @ViewBag.Nombre </p>
    <p></p>
</div>




<div class="card m-5" style="max-width: 1350px;min-height:300px ">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/Content/imagenes/hoteles/hotel_cabo_vilan.jpg" class="img-fluid " alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional contentThis is a wider card with supporting text below as a natural lead-in to additional contentThis is a wider card with supporting text below as a natural lead-in to additional contentThis content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>

<div class="mt-5 grad div-hotel">
    <p class="pt-4 display-4 fw-bold"> NUESTRAS HABITACIONES</p>

</div >

<div class="contenido">
    @* AQUI VAN LAS HABITACIONES C*@
    

    <div class=" ">
        @using (Html.BeginForm("IndexReserva", "Reserva", FormMethod.Post, new { role = "form", @class = "" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" id="id_hotel" name="id_hotel" value="@ViewBag.Id" />
            <input type="hidden" id="nombre_hotel" name="nombre_hotel" value="@ViewBag.Nombre" />
            <input type="hidden" id="id_habitacion" name="id_habitacion" value="1" />
            <div class="card mb-4" style="max-width: 1350px;min-height:300px ">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/Content/imagenes/habitaciones/adultos1.jpg" class="img-fluid" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional contentThis is a wider card with supporting text below as a natural lead-in to additional contentThis is a wider card with supporting text below as a natural lead-in to additional contentThis content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <input type="submit" class="btn grad text-white p-2 fw-bold " value="Reserva" />
                        </div>
                    </div>
                </div>
            </div>
        }
        @* habitacion con slider *@
        <div class="card " style="max-width: 1350px;min-height:400px ">
            <div class="row g-0">
                <div class="col-md-4">
                    <div id="hab2" class="carousel slide " data-bs-ride="carousel">

                        <!-- Indicators/dots -->
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#hab2" data-bs-slide-to="0" class="active"></button>
                            <button type="button" data-bs-target="#hab2" data-bs-slide-to="1"></button>
                            <button type="button" data-bs-target="#hab2" data-bs-slide-to="2"></button>
                        </div>

                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/Content/imagenes/habitaciones/adultos2.jpg" alt="Los Angeles" class="d-block   w-100 " style="min-height:400px">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Content/imagenes/habitaciones/infantil3.jpg" alt="Los Angeles" class="d-block   w-100" style="min-height:400px">
                            </div>

                        </div>

                        <!-- Left and right controls/icons -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#hab2" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#hab2" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>

                        @* aqui viene el boton que lanza el modal de la reserva, que será una partial class comun a todos los hoteles, se llevara en campo oculto el id del hotel(tiene que estar cargado previamente *@

                    </div>

                    @*/ <img src="~/Content/imagenes/habitaciones/adultos1.jpg" class="img-fluid" alt="...">*@
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional contentThis is a wider card with supporting text below as a natural lead-in to additional contentThis is a wider card with supporting text below as a natural lead-in to additional contentThis content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <a href="" class="btn grad  text-white fw-bold  p-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Reserva</a>
                    </div>
                </div>
            </div>
        </div>

        @*  esto deberia ir en la vista index reserva para ser común a todos los hoteles. movido *@



    </div>
   
</div>



