@model CloseAndSlow.Models.ViewModels.ClienteViewModel
@{
    ViewBag.Title = "Únete";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<style>

    .div-pers {
        margin-top: 50px;
        height: 75%;
        padding: 2%;
        width:40%;
        margin-left:30%;
        margin-top:5%;
    }
</style>
<div class="bg-light  div-pers ">
    <div class="col-sm-9">
        <h2>@ViewBag.Title</h2>
        @* Enviamos el formulario a través de un htmlHelper *@
        @using (Html.BeginForm("IndexRegistro", "Registro", FormMethod.Post, new { role = "form", @class = "" }))
        {
            <div class="">

                @Html.AntiForgeryToken()

                @Html.ValidationMessage("error", new { @class = "text-danger" })
                @*Utilizamos expresiones lambda para recuperar los campos de nuestro modelo *@
                <div>
                    @Html.LabelFor(d => d.Nombre)
                    @Html.TextBoxFor(d => d.Nombre, new { @class = "form-control" })
                    @Html.ValidationMessage("Nombre", new { @class = "text-danger" })
                </div>
                <div>
                    @Html.LabelFor(d => d.Direccion)
                    @Html.TextBoxFor(d => d.Direccion, new { @class = "form-control" })
                    @Html.ValidationMessage("Direccion", new { @class = "text-danger" })
                </div>
                <div>
                    @Html.LabelFor(d => d.Nif)
                    @Html.TextBoxFor(d => d.Nif, new { @class = "form-control" })
                    @Html.ValidationMessage("Nif", new { @class = "text-danger" })
                </div>
                <div>
                    @Html.LabelFor(d => d.Telefono)
                    @Html.TextBoxFor(d => d.Telefono, new { @class = "form-control" })
                    @Html.ValidationMessage("Telefono", new { @class = "text-danger" })
                </div>
                <div>
                    @Html.LabelFor(d => d.Tarjeta)
                    @Html.TextBoxFor(d => d.Tarjeta, new { @class = "form-control" })
                </div>
                <div>
                    @Html.LabelFor(d => d.Usuario)
                    @Html.TextBoxFor(d => d.Usuario, new { @class = "form-control" })
                    @Html.ValidationMessage("Usuario", new { @class = "text-danger" })
                </div>
                <div>
                    @Html.LabelFor(d => d.Email)
                    @Html.TextBoxFor(d => d.Email, new { @class = "form-control" })
                    @Html.ValidationMessage("Email", new { @class = "text-danger" })
                </div>
                <div>
                    @Html.LabelFor(d => d.Contrasenha)
                    @Html.PasswordFor(d => d.Contrasenha, new { @class = "form-control" })
                    @Html.ValidationMessage("Contrasenha", new { @class = "text-danger" })
                </div>
                <div>
                    @Html.LabelFor(d => d.ConfirmaContrasenha)
                    @Html.PasswordFor(d => d.ConfirmaContrasenha, new { @class = "form-control" })
                </div>

                <button type="submit" class="btn btn-info grad mt-3 text-white">Enviar</button>
            </div>

        }

    </div>
</div>
<script>
    function ManejaRespuesta(respuesta) {



        $("#respuesta").html(respuesta);


    }




</script>
